@media print {
  @page {
    size: letter;
    /* you can also specify margins here: */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* margin: 25mm; */
    /* margin-right: 45mm;  for compatibility with both A4 and Letter */
  }
  /* @page {
    size: 58.7mm 101.6mm;
    margin: 0 !important;
    padding: 0 !important;
  } */
}

.bolded {
  font-weight: bold;
}

.bag_labels {
  display: flex;
  flex-direction: column;
}

.item_checklist_wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  padding: 5%;
  justify-content: space-between;
  align-content: space-between;
  break-after: always;
}

.bag_labels_wrapper {
  display: flex;
  flex-direction: row;
}

.item_checklist_row {
  display: flex;
  flex-direction: row;
}

.item_checklist_row .table_info {
  height: 300px;
  width: 340px;
}

.user_bag_label_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.user_bag_label_info__p {
  font-size: 14px;
}

.user_info {
  max-width: 500px;
  font-size: 35px;
  line-height: 0.5;
}

.user_info__p {
  font-size: 30px;
}

.bag_label {
  height: 217px;
  width: 340px;
}

.bag_label li {
  font-size: 14px;
}
