@media print {
    @page {
      size: 297mm 210mm; /* landscape */
      /* you can also specify margins here: */
      margin: 25mm;
      margin-right: 45mm; /* for compatibility with both A4 and Letter */
    }
}

.bolded {
  font-weight: bold;
}

.item_checklist_wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  padding: 15%;

  /* a {
      font-size: 14px
  } */
}

.item_checklist_row {
  display: flex;
  flex-direction: row;
}

.user_info__p {
  font-size: 35px;
}

.user_info {
  font-size:35px;
  line-height: .5;
}


.table_info, .table_info__td {
    max-width:450px;
    border: 1px solid #333;
    border-collapse:collapse;
}

.table_info__td {
  height: 250px;
}

.table_info__thead {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px;
  padding: 0.2em 0.5em;
}

.table_info {
  font-size:25px
}

/* li{
  font-size:40pt;
} */
