@media print {
  @page :left {
    margin: 0;
  }

  @page :right {
    margin: 0;
  }
  @page {
    margin: 0;
    padding: 0;
  }

  .item_checklist_dymo_wrapper {
    display: block;
    flex-direction: column;
    margin: 0;
    align-items: center;
    height: 100%;
    padding: 0;
  }

  .dymo_op_one_bag_label {
    display: block;

    width: 100%;
    height: 100%;
    page-break-after: always;
  }

  .dymo_img_wrapper .dymo_bag_label__img {
    display: block;
    height: 800px !important;
    width: 800px !important;
    break-inside: avoid;
    page-break-after: avoid;
  }
}

/* 
  Dymo Bag List Styling
*/

.item_checklist_dymo_wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  padding: 5%;

  justify-content: space-between;
  align-content: space-between;
}

.dymo_op_one_bag_label_info {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.dymo_recipient_info {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
  word-wrap: break-word;
  max-width: 400px;
}

.dymo_table_info__thead {
  font-size: 2rem;
}

.dymo_bag_label__img {
  margin: 0 auto;
  display: block;
}

.dymo_img_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
