@media print {
  .dymo_op_one_table_info__ul div {
    font-weight: bold;
    font-size: 2rem !important;
  }
}

.dymo_op_one_table_info__ul {
  margin-top: 2rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 important;
  margin-left: 0 !important;
}

.dymo_op_one_table_info__ul div {
  font-size: 1.4rem;
  padding: 1rem;
  border: 0.1rem solid #333;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.dymo_op_one_table_info__ul p {
  font-size: 2rem;
}

.table_info {
  font-size: 25px;
  margin: 0.5rem;
}

.table_info__thead {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px;
  padding: 0.2em 0.5em;
  font-size: 16px;
}

.table_info__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  padding: auto;
  height: 80%;
}

.table_info__ul li {
  font-size: 16px;
}

.table_info__ul div:last-of-type {
  border-bottom: none;
}

.bag_label .table_info {
  margin: 0 0.5rem;
}

.table_info,
.table_info__td {
  max-width: 450px;
  border: 1px solid #333;
  border-collapse: collapse;
}

.table_info__td {
  height: 250px;
}

.item_checklist_row .table_info {
  height: 300px;
  width: 340px;
}
