
<head>
    <title>Item Checklist by Recipient and bag</title>
    <link rel="stylesheet" href= "template-print.css">
</head>
<body>
    <div id="item-checklist" class="item-checklist-wrapper">
        <div class="user-information">
            <p>Name: Arnelia Leslie </p>
            <p>Phone Number: 347-264-1144</p>
            <p>Address:<a>6959 Lockridge Drive ATLANTA GA 03060</a></p>
            <p>Distribution Method:Delivery</p>
            <p>COVID concern?<span class="bolded">No</p>
        </div>

        <table class="table-information" >
            <thead>
                <tr >
                    <th>Grocery Items Bag</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul >
                        <li> Chicken x1 </li>
                        <li> Eggs x2 </li>
                        <li> Milk x1 </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>




