.header {
  display: flex;
  margin-top: 12rem;
}

.header div {
  margin-left: 1rem;
}

.title {
  font-weight: bold;
}

.contact {
  margin-top: 2rem;
}

.logo {
  width: 14rem;
  height: 12rem;
}

.contact h2 {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.contact .link {
  font-size: 1.4rem;
}