.form {
  margin-top: 4rem;
  max-width: 1200px;
  margin: 4rem auto;
}

.grid {
  display: grid;
  margin-bottom: 1rem;
}

.grid label {
  font-size: 0.9rem;
}
.mb_05 {
  margin-bottom: 0.5rem;
}

.mt_04 {
  margin-top: 2rem;
}

.submitted {
  margin-top: 4.8rem;
  max-width: 600px;
  margin: 4.8rem auto;
}

.submitted p {
  line-height: 2rem;
}

.checkmark {
  margin-left: 0.2rem;
}
.thank_you {
  margin-top: 1rem;
}
.cds--header {
  display: none !important;
}
