.donate p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.btn_link {
  display: block;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5rem;
  font-weight: bold;
}

.btn_copy {
  text-align: center;
  padding: 1.125rem;
  height: auto;
}