html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  display: block;
}
* {
  box-sizing: border-box;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.hidden {
  display: none !important;
}

@media print {
  header,
  footer,
  nav,
  aside {
    display: none !important;
  }

  @page {
    size: letter;
  }
}
